font-family: "Nunito", sans-serif;

font-family: "outfit", sans-serif;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #6a8a03;
    text-align: center;
    padding: 1rem 0;
    height: 184px;
}

#plats-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

#services-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.card{

    background-color: #ffffffe6;
    width: 19%;
    align-items: center;
    border-radius: 30px;
    text-align: justify;
    display: grid;
    overflow: hidden;
    grid-template-rows: max-content 220px 1fr;
}

  .card img{
    justify-self: center;
    width: 100%;
  }

  h1{
    justify-self: center;
  }

  body {
    background: linear-gradient(253deg, #1B306D, #02753A, #E4CD04);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;

	
	min-height: 100vh;
  }

  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
  
#services-container .card {
  
    background-color: #ffffffe6;
    width: 22%;
    align-items: center;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 200px;
    padding: 12px 8px;
}

 .content h2{
    text-align: center;
}

.content {
    align-self: baseline;
    padding: 8px 12px;
}

ul {
    display: flex;  
    width: 400px;
    margin-left: -64px;
  }
  
  li{
    list-style: none;
    padding: 7px;
    float: right;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid #00008b00;
  }
  
  
  
  nav {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

.imageSpace {
    display:flex;
    justify-content: space-around;
    
    
}

.imageSpace2 {
    display:flex;
    flex-direction: column;
    width: 25%;
    
}


.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}
